flows.json
[
    {
        "id": "a6398238.dbb24",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f5aa9bc79ea58f33",
        "type": "function",
        "z": "a6398238.dbb24",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "f45f84ee416919c1"
            ]
        ]
    },
    {
        "id": "f45f84ee416919c1",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f59df272e56ff72",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "f5aa9bc79ea58f33"
            ]
        ]
    },
    {
        "id": "e8ddaf824af5c8ce",
        "type": "mqtt in",
        "z": "a6398238.dbb24",
        "name": "",
        "topic": "teste",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5fe1cdaa9dc3ab3b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "e50f40e6c670cae4"
            ]
        ]
    },
    {
        "id": "16e99685c9e36615",
        "type": "mqtt out",
        "z": "a6398238.dbb24",
        "name": "",
        "topic": "teste",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5fe1cdaa9dc3ab3b",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "e50f40e6c670cae4",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "168d77d07fc55480",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "16e99685c9e36615"
            ]
        ]
    },
    {
        "id": "54d9d4eb70b090fd",
        "type": "aedes broker",
        "z": "a6398238.dbb24",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "703f6e8668f79f21",
        "type": "ui_switch",
        "z": "a6398238.dbb24",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "c4138c85eceba5f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe1cdaa9dc3ab3b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c4138c85eceba5f5",
        "type": "ui_group",
        "name": "Default",
        "tab": "74ea4f83cb9a87c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74ea4f83cb9a87c5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]